@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d0d0d0 transparent;
}

@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}
